
*{
    font-family: 'Source Sans Pro', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0px 50px;
    margin: 0px 50px;
}

/* navbar */

/* navbar positioning*/
nav{
    top: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

nav .headding{
    margin: 0px 20px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;

}

nav .headding h2{
    margin: 0px 20px;
    margin-top: 5px;
}
nav .headding h3{
    bottom: 0;
    margin: 0px 20px;
}

nav .choices{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;

}

nav .choices table{
    display: table;
    border-radius: 800px;
    border-bottom: 2px solid rgb(2, 2, 2);
}

nav .choices tr{
    width: 100%;
}

nav .choices td{
    background-color: #33333300;
    align-items: center;
    text-align: center;
    border-right: 1px solid black;
}

nav img{
    position: absolute;
    min-width: 80px;
    max-width: 80px;
    top: 40%;
    border-bottom: 2px solid black;
    border-radius: 500px;
    display: block;
}

nav tr:hover{
    background-color: white;
}

nav tr td:hover{
    cursor: pointer;
    background-color: rgba(168, 168, 168, 0.219);
}

/*navbar animation*/

.backRotation{
    animation: navBarbackRotation 1s forwards; /* Adjusted duration */
    transform-style: preserve-3d; /* Ensures 3D rotation effect */

}

@keyframes navBarbackRotation {
    from{
        transform: rotateX(0deg);
        top: 70%;
    }
    to{
        transform: rotateX(-360deg);
        top: 40%;
    }
}

.rotation{
    animation: navBarRotation 1s forwards; /* Adjusted duration */
    transform-style: preserve-3d; /* Ensures 3D rotation effect */

}

@keyframes navBarRotation {
    from{
        transform: rotateX(0deg);
        top: 40%;
    }
    to{
        transform: rotateX(360deg);
        top: 70%;
    }
}

.navBarUnscrolled{
    animation: scrolledUp 1s forwards;

}

@keyframes scrolledUp {
    from{
        transform: translateY(-55%);

        width: 88%;
    }
    to{
        transform: translateY(0);
        width: 80%;
    }
}

.navBarScrolled{
    animation: scrolledDown 1s forwards;
}


@keyframes scrolledDown {
    from{
        transform: translateY(0);
        width: 80%;
    }
    to{
        transform: translateY(-55%);
        width: 88%;
    }
}

.designlines{
    left: 50%;
    right: 50%;
    width: 50px;
    height: 200px;
    position: absolute;
    transform: translateX(-25px) translateY(0px);
    background-color: rgb(175, 195, 199);
    border-radius: 25px;
    animation: rollOut 1s forwards;
}

@keyframes rollOut {
    from{
        height: 0px;
    }
    to{
        transform: translateX(-25px) translateY(-75px);
        height: 200px;
    }
}

.smallBarChoices {
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    min-height: 50px;
    padding: 0px 25px;
    color: rgb(129, 184, 194);
    border-bottom: 2px solid rgb(167, 167, 167);
}

/* /navbar */


h1{
    font-weight: 1200;
    font-size: 35px;
    color: rgb(1, 73, 73);
    border-bottom: 1px solid rgba(128, 128, 128, 0.925);
}


h2{
    font-weight: 1200;
    font-size: 30px;
    color: rgb(1, 73, 73)
}


.font{
    font-size: large;
}

.fontT{
    font-size: large;
}

.fontD{
    font-size: x-large;
    color: red;
}

.copy-tooltip {
    visibility: hidden;
    position: absolute;
    transform: translateY(-25px) translateX(15%);
    background-color: #33333367;
}
.cpy:hover .copy-tooltip  {
    visibility: visible;
    opacity: 1;
}

table {
    width: 100%;

    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
}

th {
    background: #343a40;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background: #e9ecef;
}

td {
    color: #333;
}


.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row ;
}

.showList{
    width: 50px;
    border-radius: 20px;
    border-right: 3px solid rgb(129, 184, 194);
    border-bottom: 3px solid rgb(129, 184, 194);
    background-color: rgb(39, 39, 39);
    animation: displayList 0.5s forwards;
    position: absolute;
    z-index: -1;
    padding: 15px;
    color: rgb(175, 207, 212);
}

@keyframes displayList {
    0%{
        transform: translateY(10px);
        height: 0px;
        right: 2px;
        width: 0px;
    }

    99%{
        height: 500px;
    }
    
    100%{
        right: 2px;
        width: 300px;
        transform: translateX(35px);
        height: auto;
    }
}

.showList2{
    width: 50px;
    border-radius: 20px;
    border-right: 3px solid rgb(129, 184, 194);
    border-bottom: 3px solid rgb(129, 184, 194);
    background-color: rgb(39, 39, 39);
    animation: displayList2 0.5s forwards;
    position: absolute;
    z-index: -1;
    padding: 15px;
    padding-top: 10%;
    color: rgb(175, 207, 212);
}

@keyframes displayList2 {
    0%{
        transform: translateY(10px) translateX(0px);
        height: 0px;
        right: 2px;
        width: 0px;
    }

    99%{
        height: 500px;
    }
    
    100%{
        right: 2px;
        width: 300px;
        transform: translateX(35px) translateX(-5%);
        right: 0;
        height: auto;
    }
}

.removeList{
    height: 500px;
    animation: hideList 0.5s forwards;
    position: absolute;
    z-index: -1;
}
@keyframes hideList {
    0%{
        transform: translateY(45px) ;
        height: 500px;
        right: 2px;
        width: 300px;
       
    }

    100%{
        transform: translateY(10px);
        height: 0px;
        right: 2px;
        width: 2px;
        padding: 0px;
        
    }
}

.mainPagepicture{
    min-width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    

}

.main{
    border-radius: 20px;
    border: 2px solid black;
    padding: 50px;
}

.ms{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 25px;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
}
.mms{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 25px;
    font-size: 20px;
    overflow: hidden;
}
.ms p{
    padding: 0px 25px;
    margin: 2px;
   
    font-size: 15px;

}

.animationLeftSlide{
    animation: lss 0.5s forwards
}

@keyframes lss {
    0%{
        height: 0;
    }

    100%{
        height: 200px;

    }
}
.animationUnSlide{
    animation: uss 0.5s forwards
}


@keyframes uss {
    0%{
        height: 200px;
    }

    100%{
        
        height: 0px;
    }
}

.clicked{
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}
.clicked h3{
    border-bottom: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
}

