

body{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20); /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s;
}

/* Hide loading screen after page loads */
#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Loading animation (spinner) */
.spinner {
    width: 50px;
    height: 50px;
    border: 15px solid #ccc;
    border-top: 15px solid #238ed6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navBarLogo{
    cursor: pointer;
}

/* navbar */

/* navbar positioning*/
nav{
    top: 0;
    background-color: rgba(255, 255, 255, 0.007);
    position: fixed;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1920px;
    z-index: 100;
}

nav .headding{
    margin: 0px 20px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: rgb(238, 238, 238);
    border-left: 2px solid black;
    border-right: 2px solid black;

}

h3{
    font-weight: bold;
}

nav .headding h2{
    margin: 0px 20px;
    margin-top: 5px;
    font-size: 250%;
}
nav .headding h3{
    bottom: 0;
    margin: 0px 20px;
    
}

nav .choices{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-color: rgb(238, 238, 238);
    

}

nav .choices table{
    display: table;
    border-top: 2px solid black;
    margin-bottom: 0px;
    height: 60px;
    background-color: rgb(22, 21, 21);

}

nav .choices tr{
    width: 100%;
}

nav .choices td{
    background-color: #33333300;
    align-items: center;
    text-align: center;
    display: table-cell;
    width: 25%;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

nav img{
    position: absolute;
    min-width: 80px;
    max-width: 80px;
    top: 40%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 500px;
    display: block;

}


nav tr td:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.219);
}

/*navbar animation*/

.backRotation{
    animation: navBarbackRotation 1s forwards; /* Adjusted duration */
    transform-style: preserve-3d; /* Ensures 3D rotation effect */

}



@keyframes navBarbackRotation {
    from{
        transform: rotateX(0deg);
        top: 70%;
        min-width: 60px;
        max-width: 60px;
    }
    to{
        transform: rotateX(-360deg);
        top: 40%;
        min-width: 80px;
        max-width: 80px;
    }
}

.rotation{
    animation: navBarRotation 1s forwards; /* Adjusted duration */
    transform-style: preserve-3d; /* Ensures 3D rotation effect */
    top: 40%;
    
}

@keyframes navBarRotation {
    0%{
        transform: rotateX(0deg);
        top: 40%;
        min-width: auto;
        max-width: auto;
        width: 80px;
    }
    50%{
        transform: rotateX(180deg);
        width: 40px;
    }
    100%{
        transform: rotateX(360deg);
        top: 40%;
        width: 80px;
        min-width: auto;
        max-width: 15vw;
    }
}

.navBarUnscrolled{
    animation: scrolledUp 1s forwards;

}

@keyframes scrolledUp {
    from{
        transform: translateY(-55%);

        width: 100%;
    }
    to{
        transform: translateY(0);
        width: 100%;
    }
}

.navBarScrolled{
    animation: scrolledDown 1s forwards;
}


@keyframes scrolledDown {
    from{
        width: 100%;
        transform: translateY(120%);
        padding: 0% 0%;
    }
    to{
        transform: translateY(0);
        width: 100%;       
        
    }
}

.designlines{
    left: 50%;
    right: 50%;
    width: 50px;
    height: 200px;
    position: absolute;
    transform: translateX(-25px) translateY(0px);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    animation: rollOut 1s forwards;
}

@keyframes rollOut {
    from{
        height: 0px;
    }
    to{
        transform: translateX(-25px) translateY(-75px);
        height: 200px;
    }
}

.smallBarChoices {
    box-shadow: -2px 1px 10px rgb(12, 12, 12);
    min-height: 70px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(167, 167, 167);
    width: 100%;
    
}

/* /navbar */


h1{
    font-weight: 1200;
    font-size: 35px;
    color: rgb(1, 73, 73);
    border-bottom: 1px solid rgba(128, 128, 128, 0.925);
}


h2{
    font-weight: 1200;
    font-size: 30px;
    color: rgb(1, 73, 73);
}


.font{
    font-size: large;
}

.fontT{
    font-size: large;
}

.fontD{
    font-size: x-large;
    color: red;
}

.copy-tooltip {
    visibility: hidden;
    position: absolute;
    transform: translateY(-25px) translateX(15%);
    background-color: #33333367;
}
.cpy:hover .copy-tooltip  {
    visibility: visible;
    opacity: 1;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
}




.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row ;
    padding: 0px 2%;
}

.showList {
    z-index: 200;
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(228, 228, 228);
    animation: displayList 0.5s forwards;
    position: fixed; /* Keeps it relative to the viewport */
    z-index: 1000; /* Keeps it above other elements */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Adjusts the element to be centered */
}

@keyframes displayList {
    0% {
        left: 50%;
        transform: translateX(-50%);
        width: 25%; /* Start small */
        height: 0vh; /* Start with zero height */
        opacity: 0; /* Hidden initially */
        z-index: -1;
    }

    100% {
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        min-width: 400px; /* Final width */
        height: 90vh; /* Almost full screen height */
        opacity: 1; /* Fully visible */
        z-index: -1;
    }
}


.showList2{
    width: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(228, 228, 228);
    animation: displayList2 0.5s forwards;
    position: fixed; /* Keeps it relative to the viewport */
    z-index: 1000; /* Keeps it above other elements */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Adjusts the element to be centered */
    
}

@keyframes displayList2 {
    0% {
        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Start small */
        height: 0vh; /* Start with zero height */
        opacity: 0; /* Hidden initially */
        z-index: -1;
    }

    100% {
        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Final width */
        height: 90vh; /* Almost full screen height */
        opacity: 1; /* Fully visible */
        z-index: -1;
    }
}

.removeList{
    
    animation: hideList 0.5s forwards;
    position: absolute;
    z-index: -1;
}

@keyframes hideList {
    0% {
        left: 50%;
        transform: translateX(-50%);
        width: 25%; /* Final width */
        height: 90vh; /* Almost full screen height */
        opacity: 1; /* Fully visible */
        z-index: -1;

    }

    100% {

        left: 50%;
        transform: translateX(-50%);
        width: 25%; /* Start small */
        height: 0vh; /* Start with zero height */
        opacity: 0; /* Hidden initially */
        z-index: -1;

    }
}
.removeList2{
    
    animation: hideList2 0.5s forwards;
    position: absolute;
    z-index: -1;
}

@keyframes hideList2 {
    0% {
        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Final width */
        height: 90vh; /* Almost full screen height */
        opacity: 1; /* Fully visible */
        z-index: -1;

    }

    100% {

        left: 50%;
        transform: translateX(-50%);
        width: 100%; /* Start small */
        height: 0vh; /* Start with zero height */
        opacity: 0; /* Hidden initially */
        z-index: -1;

    }
}

.mainPagepicture{
    
    background-image: linear-gradient(rgba(1, 23, 26, 0.473), rgba(0, 0, 0, 0.404)),url("images/fishingNewsBackground.jpg");
    background-size: cover; /* Ensures it covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    width: 100%;
    min-width: 900px;
    height: 650px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

.mainPagepicture h2{
    color: rgb(194, 233, 243);
}

.main{
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    
}

.ms{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    width: 90%;
    overflow: hidden;
}
.mms{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 25px;
    font-size: 15px;
    overflow: hidden;
    width: 90%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    }

.mms.clicked{
    border-right: 0px;
    border-left: 0px;
}

.mms:not(.clicked):hover {
    background-color: rgba(31, 30, 30, 0.452);
    border-radius: 20px;
    animation: blacked 0.5s forwards;
}

.ms p{

    font-size: 17px;
    width: 90%;
    border-radius: -20px;
    font-weight: 500;
}

.ms p:hover{
    font-weight: bold;
    
}

@keyframes blacked {
    0%{
       background-color: rgb(139, 139, 139);
       color: black;
    }

    100%{
        background-color: rgb(24, 23, 23);
        color: white
    }
}

.animationLeftSlide{
    animation: lss 0.5s forwards
}

@keyframes lss {
    0%{
        height: 0;
    }

    100%{
        height: 200px;

    }
}
.animationUnSlide{
    animation: uss 0.5s forwards
}


@keyframes uss {
    0%{
        height: 200px;
        overflow: hidden;
    }
    100%{
        height: 0px;
        display: none;
    }
}

.clicked{
    border-bottom: 2px solid rgb(175, 175, 175);
    border-left: 2px solid rgb(175, 175, 175);
    border-right: 2px solid rgb(175, 175, 175);
    border-radius: 20px;
}
.clicked h3{
    border-bottom: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .mms{
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 5px;
        font-size: 13px;
        overflow: hidden;
        width: 75%;
    }
    .ms p{

        font-size: 16px;
        line-height: 0.2;

    }
    .showList2{
        padding-top: 25px;
    }
    .headding{
        max-height: 70px;
    }
    .ms{
        max-height: 50%;
     }
    .smallHead{
        padding: 0px 2%;
        color: white;
        
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase; 
        font-size: 3vw;
    }
    .designlines{
        background-color: rgba(255, 255, 255, 0);
    }

    .footerDiv{
        flex-direction: column;
    }

    .mainPagepicture{
        width: 100%;
        min-width: 0px;
    }
}


.Listplaceholder{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: rgba(241, 0, 0, 0);
    padding: 10px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.Listplaceholder .altor{

    background-color: rgba(20, 20, 20, 0.788);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.smallHead{
    padding: 0px 5%;
    color: white;
    
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; /* Optional, makes text uppercase */
}

.clickedDiv{
    animation: downss 0.5s forwards;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    display: flex;
}

@keyframes downss {
    0%{
        opacity: 100%;
        height: 0px;
    }

    100%{
        opacity: 100%;
        height: 150px;
    }
}

.unClickedDiv{
   
    animation: Upss 0.5s forwards;
}

@keyframes Upss {
    0%{
        height: 150px;
    }

    99%{
        opacity: 0%;
        height: 0px;
    }


}

.hoverStyle{

    width: 90%;
    
    margin: 5px;
    font-size: 18px;
}

.hoverStyle:hover{
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid white;
}

.upscroll{
    
    animation: Upscrl 0.5s forwards;
}

@keyframes Upscrl {
    from{
        min-height: 70px;
    }
    to{
        min-height: 40px;
        max-height: 40px;
    }
}

.downscroll{
    
    animation: Downscrl 0.5s forwards;
}

@keyframes Downscrl {
    from{
        min-height: 40px;
        max-height: 40px;
    }
    to{
        min-height: 70px;
        max-height: 70px;
    }
}

footer{
    color: white;
    background-color: rgb(20,20,20);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    min-height: 250px;
    position: static;
    
    max-width: 1920px;
}

.footerDiv{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
    min-height: 100px;

}

.footerDiv h2{
    color: rgba(255, 255, 255, 0.562);
    padding: 5px;
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
}

.footerSection{
    top: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 30%;
    max-width: 30%;
    border-radius: 25px;
}
.footerSection p{
    margin: 0px;
    margin-top: 5px;
    font-size: larger;
}
.footerSection a{
    color: white;
    text-decoration: none;
}
.footerSection a:hover{
    color: rgba(255, 255, 255, 0.562);
    text-decoration: underline;
}



.mainNameDiv{
    width: 400px;
    max-width: 80%;
    background-color: rgba(92, 92, 92, 0.137);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border: 3px solid black;
    padding: 20px 50px;
    color: rgb(255, 255, 255);
    font-size: larger;

}
.mainNameDiv h2{
    font-size: 200% ;

}


.move:hover{
transform: scale(1.06) translateY(75px) !important;
transition: transform 0.3s ease !important;

}


.mainNews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    padding: 2%;
    padding-top: 5%;
    z-index: 1;
    left: 0;
    align-items: center;
}

.NewsPicture{
    background-image: linear-gradient(rgba(1, 45, 53, 0.418), rgba(0, 0, 0, 0.466)),url('images/mainpicture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.mainNewsMain{
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 0;
    min-height: 400px;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
}

.scrollIntoNews{
    color: white;
}

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    min-height: 50px;
    max-height: 50px;
    max-width: 20px;
    border: 1px solid black;
    border-radius: 5000px;
    margin: 0px 20px;
    font-size: 2.5vh;
    cursor: pointer;
    animation: UnArrowHovered 0.5s forwards;
    font-weight: bolder;
    color: white;
    
}

.arrow:hover{
    animation: ArrowHovered 0.5s forwards;
}

@keyframes ArrowHovered {
    0%{
        background-color: rgba(255, 255, 255, 0.164);
        color: black;
    }
    100%{
        background-color: rgb(0, 0, 0);
        color: white;
        
    }
}

@keyframes UnArrowHovered {
    0%{
        background-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
    100%{
        background-color: rgba(255, 255, 255, 0.123);
        color: white;
    }
}

/* Wrapper to control stacking */
.container {
    position: relative; /* Needed for absolute positioning */
    display: flex;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 60px;
    min-width: 400px;
    cursor: pointer;
}

/* Blue Layer (Bottom-most, should be behind everything) */
.container::before {
    content: "";
    position: absolute;
    top: -10px;  
    left: 10px; 
    min-width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom: 3px solid rgba(0, 210, 238, 0.425);
    border: 1px solid black;
    border-left: 0px solid white;
    background-color: rgba(255, 255, 255, 0.041);
    z-index: 1; 

}


.container::after {
    content: "";
    position: absolute;
    top: -5px;  
    left: 5px;
    min-width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 2; 
    border-bottom: 3px solid rgba(0, 210, 238, 0.425);

}

/* Main Block (On Top) */
.newsBlock {
    border-bottom: 3px solid rgb(0, 210, 238);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-left: 2%;
    position: relative; /* Needed for z-index */
    z-index: 3; /* Ensure this stays on top */
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    animation: downAnimationBlock 1s forwards;
    margin-top: 0px;
    transform: translateY(250px);

}

.newsBlock h4{
    color: rgb(0, 210, 238);
}

.newsBlock p{
    margin-top: 0px;
    padding-top: 0px;
}

.goIn{
    animation: goInAnimation 1s forwards;
}

@keyframes goInAnimation {
    from{
        max-width: 0px; 
        display: flex;
        opacity: 100%;
    }
    to{

        max-width: 400px; 
        display: flex;
        opacity: 100%;   }
}

.goOut{
    animation: goOutAnimation 1s forwards;
}

@keyframes goOutAnimation {
    from{
        max-width: 400px; 
        opacity: 100%;    
    }
    to{
        max-width: 0px; 
          }
}

.inNewsBlock{

    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 50%;

}

.newsBlock p{
    padding: 10px;
}

.newsBlock:hover{
    animation: upAnimationBlock 1s forwards;
    z-index: 1000;

}

@keyframes upAnimationBlock {
    from{
        transform: translateY(0%);
    }
    to{
       transform: translateY(-10%);
    }
}

@keyframes downAnimationBlock {
    from{
        transform: translateY(-10%);
    }
    to{
       transform: translateY(0%);
    }
}

.NewsDown{
   animation: downAnimation 1s forwards;
}

@keyframes downAnimation {
    from{
        transform: translateY(-20%);
    }
    to{
        transform: translateY(0%);
    }
}

.NewsUp{
    animation: upAnimation 1s forwards;
 }
 
 @keyframes upAnimation {
     from{
         transform: translateY(0%) ;
     }
     to{
        transform: translateY(-20%) ;
     }
 }

 .bookmark {
    display: flex;
    min-height: 100px;
    min-width: 30%;
    background-image: url("images/bookmark.png");
    background-repeat: no-repeat;
 
}



.news-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    transition: transform 0.2s ease-in-out;
}

.news-card:hover {
    transform: scale(1.02);
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.news-date {
    font-size: 12px;
    color: #777;
}

.news-content {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.read-more {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.read-more:hover {
    background: #0056b3;
}

.contact-form {
    background: #1b1b1b00;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0);
    width: 70%; /* Nastavenie šírky na 50% obrazovky */
    max-width: 100%; /* Maximálna šírka, aby to nebolo extrémne */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;}


input, textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}


input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


form button {
    width: calc(100% + 10px);
    max-height: 1%;
    background: gray;
    color: white;
    border: none;
    display: flex;
    padding: 20px 20px; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: black;
}


form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 100%;
}


.informationMainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
    background-color: white;
    
}

.informationAboutusPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
    background-color: white;
    font-size: 130%;
}

.informationMainPage p{
    font-size: 130%;
}

.mainNewsImg{
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 500px;
    margin-right: 25px;
    cursor: pointer;
    animation: ImageDOWN 1s forwards;
}

.mainNewsImg:hover{
  animation: ImageUP 1s forwards;
}

@keyframes ImageUP {
    from{
        transform: translateY(0%);
        background-color: rgba(255, 255, 255, 0);
    }to{
        background-color: rgba(0, 0, 0, 0.61);
        transform: translateY(-10%);
    }
}

@keyframes ImageDOWN {
    from{
        background-color: rgba(0, 0, 0, 0.61);
        transform: translateY(-10%);
        }
        to{
            background-color: rgba(0, 0, 0, 0.171);
        transform: translateY(0%);
        }
}

.aboutUsButtonMainPage{
    cursor: pointer;
}





.showNewsContent{
    display: flex;
    flex-direction: column;
    width: 0%;
    max-height: 0px;
    z-index: 5000;
    border: 0px solid black;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    padding: 0px;
    overflow: hidden;
    font-size: 21px;
}

.containerRollIn{
    width: 50%;
    height: 50%;
    animation: rollInContNews 1s forwards
}

@keyframes rollInContNews {
    from{
        min-width: 0%;
        max-width: 0%;
        min-height: 0px;
        max-height: 0px;
        padding: 25px;
        border: 0px solid black;  
    }

    to{
        min-width: 90vw;
        max-width: 90vw;
        max-height: none;
        min-height: none;
        padding: 25px;
        border: 1px solid black;

    }
}

.newsLoader{
    width: 100%;
    height: 5px;
    background-color:rgb(0, 210, 238);
    border-radius: 50px;
    border-right: 10px solid rgb(255, 255, 255);
}

.MainPageNewsHeadder{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.watch-me{
    opacity: 1%;
}

.appeared{
    animation: appear 1s forwards
    
}


.hoverTable:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes appear {
    from{
        opacity: 100%;
        transform: translateX(-10%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }    
}


.aboutusFunctionsTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tablesDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;

}

.aboutusFunctionsTable td, .aboutusFunctionsTable th  {
    padding: 12px;

}

.aboutusFunctionsTable th{
    font-weight: bold;
}

.aboutusFunctionsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.aboutusFunctionsTable tr:hover {
    background-color: #f1f1f1;
}

.aboutusFunctionsTable th.sortable:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.aboutusFunctionsTable th.sortable::after {
    content: " \25B2"; /* Unicode character for up arrow */
    font-size: 12px;
    margin-left: 5px;
}

.aboutusFunctionsTable th.sortable.desc::after {
    content: " \25BC"; /* Unicode character for down arrow */
}

.fetchedTables{
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(1, 39, 44, 0.514), rgba(0, 0, 0, 0.459)),url('images/mainpicture.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fetchedTables div{
    min-width: 80%;
}

.leftTextMainPage{
    width:60%;
    background-color: white; 
    border-radius: 25px; 
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(39, 149, 192, 0.26);
}

.trtt{
    transform: translateY(75px) translateX(50px);
    transition: transform 0.3s ease !important;
} 
.tablesDiv div{
    width: 50%;
}

.informationMainPage div{
    max-width: 70%;
}

.rvrsMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.089);
}

.rvrsRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100% ;
}

.rvrsBlock{
    display: flex;
    flex-direction: column;
    width: calc(30% - 50px);
    min-height: 125px;
    background-color: white;
    padding: 0px 50px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    transform: scale(1.00);
    transition: transform 0.3s ease;
}

.rvrsBlock:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.rvrsBlock h2{
    color: rgb(0, 131, 148);
    font-size: 25px;
}
.rvrsBlock p{
    font-size: 20px;

}
.zau-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  /* Box styles */
  .zau-box {
    flex: 1;
    padding: 30px;
    transition: 0.3s;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  /* Box Hover effect */

  
  /* Header styles */
  .zau-box h2 {
    text-align: center;
    font-size: 26px;
    color: rgb(0, 131, 148); /* Blue-green accent */
    position: relative;
    font-size: 40px;
    width: 80%;
    padding-bottom: 10px;
  }
  
  /* Underline effect */

  
  /* Content inside boxes */
  .zau-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  
  /* PDF Item */
  .zau-pdf-item {
    width: 80%;
    background: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
    
  }
  
  /* Hover effect */
  .zau-pdf-item:hover {
    background: #f1f1f14b;
    color: #1e1e1e;
    transform: scale(1.05);
  }
  
  /* PDF Icon */
  .zau-pdf-icon {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* PDF Image */
  .zau-pdf-icon img {
    width: 75px;
    border-radius: 500px;
    margin-right: 25px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .zau-container {
      flex-direction: column;
    }
  }

.customPageMainDiv{
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

.customPageMainDiv h2{
    color: rgb(0, 131, 148);
}

.pdjListMainDiv {
    display: flex;
    width: 90%;
    flex-direction: row;
    padding: 50px;
}

.pdjList{
    width: 20%;
    padding-left: 25px;
    border-right: 2px solid black;
}

.pdjList h2{
    color: rgb(0, 131, 148);
}

.pdjList h3{
    border-right: 5px solid rgb(0, 131, 148);
    width: 70%;
    transition: border-right 0.5s ease;
}

.pdjList h3:hover, .pdjList h3 .displayed{
    color: rgb(0, 131, 148);
    font-weight: bold;
    cursor: pointer;
    border-right: 25px solid rgb(0, 131, 148);
    transition: border-right 0.5s ease;
}



.pdjElement{
    width: 80%;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {

    .customPageMainDiv{
        width: 90%;
    }

    .rvrsRow{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .rvrsBlock{
        flex-direction: column;
        width: 70%;
    }

    .footerDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 100%;
    }
    .footerSection{
        max-width: 90%;
        min-width: 90%;
        padding-top: 50px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footerSection p{
        margin: 0px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-form{
        padding: 0px;
    }


    .container{
        width: 80%;
        min-width: 80%;
        max-width: 80%;
        transform: translateX(-10%);
    }

    .container p{
        font-size: 90%;
        font-style: normal;
    }

    .mainNewsMain{
        width: 100%;
    }


    form{
        display: flex;
        flex-direction: column ;
        align-items: center;
        width: 80%;
    }

    
    @keyframes rollInContNews {
        from{
            min-width: 0%;
            padding: 25px;

        }
        to{
            min-width: 85%;
            padding: 25px;

        }
    }

    .informationMainPage{
        width: 100%;
        padding: 2%;
    }

    .informationMainPage p{
        font-size: 1rem;
    }

    .informationAboutusPage p{
        font-size: 1rem;
    }

    @keyframes downAnimation {
        from{
            transform: translateY(-20%) translateX(0%);
        }
        to{
            transform: translateY(0%) translateX(0%);
        }
    }

    .aboutusFunctionsTable{
        width: 95%;
    }

    .noMobile{
        display: none;
    }
    .leftTextMainPage{
        width: 100%;
        background-color: white; 
        border-radius: 25px; 
        padding: 25px;
        box-shadow: 5px 5px 5px rgba(1, 91, 126, 0.301);
    }
    .informationMainPage div{
        max-width: 100%;
    }
    .tablesDiv{
        flex-direction: column;
        width: 100%;
    
    }

    .tablesDiv div{
        width: 90%;
    }
}

p{
    line-height: 1.8;
}

.aboutUsText p{
    font-size: 1.5rem;
    padding-left: 15%;
    line-height: 1;
}

.aboutUsText h2{
    font-size: 2.5rem;
    padding-left: 15%;
}

.aboutUsText h3{
    font-size: 2rem;
    padding-left: 15%;
}

@media screen and (max-width: 768px){
    .aboutUsText p{
        font-size: 1rem;
        padding-left: 5%;
        line-height: 1;
    }
    
    .aboutUsText h2{
        font-size: 1.5rem;
        padding-left: 5%;
    }
    
    .aboutUsText h3{
        font-size: 1.2rem;
        padding-left: 5%;
    }
}
